@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body .wraaper {
    width: 100%;
    height: 100%;
}

/* FONT FAMILY */

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Alegreya Sans", sans-serif;
}

/* COLOR */

:root {
    --blask-color: #000000;
    --gray-50: #1f1f1f;
    --white-color: #fff;
    --gray-900: #d9d9d9;
    --gray-850: #bbb;
    --gray-700: #eee;
    --gray-650: #757575;
    --gray-600: #6c63ff;
    --gray-1000: #dfa347;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: inherit;
    font-family: inherit;
}

input {
    outline: none;
    border: none;
}

.audio-btn{
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--gray-1000);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: no-drop;
}

.container {
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}

.wraaper {
    font-size: 16px;
    font-weight: normal;
    font-weight: 400;
    color: var(--blask-color);
}

.item-main {
    display: flex;
    align-items: center;
    column-gap: 20px;
    white-space: nowrap;
    overflow-x: scroll;
    padding-bottom: 10px;
}

.item-row {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 8px 0;
}

.item-card {
    border: 1px solid var(--gray-850);
    border-radius: 18px;
    width: 330px;
    height: auto;
    background-color: var(--white-color);
    cursor: pointer;
    transition: all 0.2s ease-in;
    white-space: nowrap;
    flex-shrink: 0;
}

.item-card:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.item-card__img img {
    width: 100%;
    height: 100%;
}

.item-card__contend {
    padding: 5px 2px 20px 16px;
}

.item-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000;
    margin-bottom: 30px;
}

.item-card__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    color: #000;
}

.item-card__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #757575;
    margin-bottom: 13px;
}

.item-card__button {
    border: 1px solid #bbb;
    border-radius: 13px;
    padding: 4px 8px;
    background-color: var(--white-color);
    transition: all 0.1s ease-in;
}

.item-card__button:hover {
    background-color: var(--blask-color);
    color: var(--white-color);
}

/* HEADER - START */

.marquer-asad {
    width: 100%;
    /* Ekran kengligi bo'yicha to'liq */
    overflow: hidden;
    /* Tashqariga chiqib ketgan matnni yashirish */
    white-space: nowrap;
    /* Matnni bir qator qilib ko‘rsatish */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Dekorativ effekt */
    background-color: #f4f4f4;
    /* Fon rangi */
    padding: 6px 0;
    /* Ichki bo‘shliq */
    display: flex;
    align-items: center;
    /* Vertikal markazlash */
    justify-content: center;
    /* Gorizontal markazlash */
}

.marque {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    word-spacing: 5px;
    letter-spacing: 0.05em;
    color: var(--blask-color);
}

.header {
    padding: 16px 0;
    background-color: var(--gray-900);
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-logo {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: var(--blask-color);
    cursor: pointer;
}

.header-nav {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin: 0 10px;
}

.header-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: var(--blask-color);
    flex-shrink: 0;
    position: relative;
}

.header-link:hover {
    color: var(--gray-50);
}

.header-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--blask-color);
    transition: width 0.4s ease;
    /* Smooth animation */
}

.header-link:hover::before {
    width: 100%;
    /* Expands the line on hover */
}

.header-buttons {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.header-button {
    border: 1px solid var(--gray-50);
    border-radius: 19px;
    background: var(--white-color);
    padding: 9px 12px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: #1f1f1f;

    display: flex;
    align-items: center;
    column-gap: 4px;
    cursor: pointer;
}

.header-button:nth-child(2) {
    background-color: var(--blask-color);
    color: var(--white-color);
    transition: all 0.1s ease-in;
}

.header-button:nth-child(2):hover {
    background-color: var(--white-color);
    color: var(--blask-color);
}

.header-mobile__button {
    display: none;
}

.header-btn__logo {
    display: contents;
}

/* HEADER - END */


/* BANNER - START */

.banner {
    height: 450px;
    padding-top: 70px;
}

.banner-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}

.banner-title {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 60px;
    line-height: 120%;
    color: var(--blask-color);
    text-align: center;
    margin: 50px;
}

.banner-card {
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding: 10px 10px 10px 20px;
    border: 2px solid var(--gray-850);
    border-radius: 45px;
    background-color: var(--white-color);
}

.banner-tiem {
    display: flex;
    align-items: center;
    column-gap: 16px;
    cursor: pointer;
}

.banner-input {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: var(--gray-50);
}

.banner-tiem:nth-child(2),
.banner-tiem:nth-child(3),
.banner-tiem:nth-child(4) {
    border-left: 2px solid var(--blask-color);
    padding-left: 16px;
}

.banner-item__icn {
    width: 20px;
    height: 20px;
}

.banner-item__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: var(--gray-50);
    flex-shrink: 0;
}

.banner-search__btn {
    padding: 16px 22px;
    border-radius: 26px;
    background: var(--blask-color);

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--white-color);
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.1s ease-in;
}

.banner-search__btn:hover {
    background-color: transparent;
    border-color: var(--blask-color);
    color: var(--blask-color);
}

/* BANNER - END */


/* RECOMMEND - START */

.recommend {
    padding: 40px 0;
}

.star-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    color: #000;
}

.star-left__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #000;
}

/* RECOMMEND - END */

/* NEW TOWAR - START */

.new-towar {
    padding: 20px 0;
}

/* NEW TOWAR - END */

/* EXPLANTION - START */

.explanation {
    padding: 20px 0;
}

/* EXPLANTION - END */

/* STYLE - START */

.style {
    padding: 40px 0;
}

.style-row {
    display: flex;
    justify-content: space-between;
}

.style-contend {
    margin-top: 35px;
    position: relative;
}

.style-title {
    max-width: 400px;
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    color: #000;
    margin-bottom: 20px;
}


.style-subtitle {
    max-width: 270px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #757575;
    margin-bottom: 25px;
}

.style-submit__btn {
    border-radius: 26px;
    padding: 15px 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    background-color: var(--gray-1000);
    position: absolute;
    bottom: 10em;
    border: 2px solid transparent;
    transition: all 0.2s ease;
    cursor: pointer;
}

.style-submit__btn:hover {
    background-color: transparent;
    border-color: var(--gray-1000);
    color: var(--gray-50);
}

.style-img {
    width: 685px;
    height: 509px;
}

.style-img img {
    width: 100%;
    height: 100%;
}

/* STYLE - END */

/* COMMENTS - START */

.comment {
    padding: 40px 0;
}

.comment-row {
    display: flex;
    align-items: center;
    column-gap: 20px;
    /* animation: marquee 25s linear infinite; */

    position: relative;
    overflow: hidden;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }

    90% {
        transform: translateX(-0%);
    }
}

.comment-card {
    border-radius: 16px;
    width: 335px;
    height: 404px;
    background-color: var(--gray-700);
    padding: 20px 0px 20px 20px;
    animation: marquee 3s linear infinite;
    overflow: hidden;
    flex-shrink: 0;
}

.comment-stars {
    display: flex;
    align-items: center;
    column-gap: 13px;
    margin-bottom: 25px;
    flex-shrink: 0;
}

.comment-card__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: var(--blask-color);
    margin-bottom: 12px;
    flex-shrink: 0;
}

.comment-card__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--blask-color);
    max-width: 250px;
    flex-shrink: 0;
}

.comment-card__profiles {
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: absolute;
    bottom: 20px;
}

.comment-card__profiles-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--blask-color);
    flex-shrink: 0;
}

.comment-card__profiles-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-650);
    flex-shrink: 0;
}

/* COMMENTS - END */

/* CONTACT - START */

.contact {
    padding: 40px 0;
}

.contact-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: var(--blask-color);
}

.contact-subtitle {
    max-width: 472px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: var(--gray-650);
    margin: 20px 0;
}

.contact-send {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    text-align: start;
}

.contact-input {
    border: 1px solid var(--gray-850);
    border-radius: 36px;
    width: 477px;
    height: 60px;
    background-color: var(--white-color);
    padding: 0 20px;
    font-size: 25px;
}

.contact-button {
    border-radius: 36px;
    width: 477px;
    height: 60px;
    background-color: #6c63ff;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
    cursor: pointer;
}

.contact-img {
    width: 523px;
    height: 407px;
}

.contact-img img {
    width: 100%;
    height: 100%;
}

/* CONTACT - END */

/* FOOTER - START */

.footer {
    background-color: var(--gray-900);
    padding: 40px 0;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.footer-card {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer-button {
    padding: 15px 20px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    column-gap: 8px;
    border: 1px solid var(--gray-850);
    border-radius: 30px;
    width: 218px;
    cursor: pointer;
}

.footer-btn__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #000;
}

.footer-btn__icon {
    width: 20px;
    height: 20px;
}

.footer-btn__icon img {
    width: 100%;
    height: 100%;
}

.footer-card__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #000;
}

.footer-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #000;
    transition: all 0.2s ease;
}

.footer-link:hover {
    color: var(--gray-50);
    scale: 1.1;
}

.footer-item__link {
    display: flex;
    align-items: center;
    column-gap: 17px;

}

.footer-item__link:hover img {
    transform: rotate(46deg);
    transition: all 0.2s ease-in-out;
    scale: 1.5;
}

.footer-other__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #000;
}

/* FOOTER - END */


/* LOGIN - START */

.login{
    margin-top: 120px;
}

.login-row {
    display: flex;
    justify-content: center;
}

.login__title {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: #000;
    margin-bottom: 50px;
}

.login-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-bottom: 4px;
}

.login-inputs {
    display: flex;
    align-items: center;
    align-items: center;
    column-gap: 15px;

    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 12px 0 12px 16px;
    margin-bottom: 25px;
}

.login-input {
    width: 400px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
}

.login-title__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forpass-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-600);
}

.login-submit__button {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    background: var(--gray-600);
    padding: 13px 177px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    cursor: pointer;
    margin-bottom: 16px;
}

.login-addlogin__href {
    text-align: center;
    color: var(--blask-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
}

.login-lines {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 25px 0;
}

.login-line {
    border: 1px solid #e5e5e5;
    width: 226px;
    height: 0px;
}

.login-line__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: var(--gray-650);
}

.login-other__button {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 110px;

    border: 1px solid var(--gray-900);
    border-radius: 12px;
    background: var(--white-color);
    padding: 12px 15px;
}

.login-href__icon {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.login-href__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
}

.login-href__icon {
    font-family: var(--font-family);
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #000;
}

/* LOGIN - END */



@media screen and (max-width: 1400px) {
    /* EXPLANATION - START */

    .explanation-row {
        overflow-x: scroll;
    }

    /* EXPLANATION - END */

    /* COMMENT - START */

    .comment-row {
        overflow-x: scroll;
        padding-bottom: 10px;

    }

    .comment-card {
        flex-shrink: 0;
    }

    @keyframes marquee {}

    /* COMMENT - END */

}

@media screen and (max-width: 1214px) {

    /* STYLE - START */
    .style-title {
        width: 300px;
        font-size: 33px;
    }

    /* STYLE - END */
}

@media screen and (max-width: 1120px) {

    /* BANNER - START */

    .banner-title {
        font-size: 50px;
    }

    /* BANNER - END */

    /* CONTACT - START */

    .contact-title {
        font-size: 30px;
    }

    .contact-subtitle {
        font-size: 22px;
    }

    /* CONTACT - END */
}

@media screen and (max-width: 1030px) {

    /* STYLE - START */
    .style-img {
        width: 550px;
        height: 409px;
    }

    .style-submit__btn {
        bottom: 6em;
    }

    /* STYLE - NED */

    /* CONTACT - START */

    .contact-row {
        flex-direction: column-reverse;
        justify-content: center;
        row-gap: 30px;
        text-align: center;
    }

    /* CONTACT - END */
}

@media screen and (max-width: 975px) {

    /* HEADER - SATRT */
    .header-nav {
        column-gap: 25px;
        overflow-x: scroll;
    }

    /* HEADER - END */

    /* BANNER - START */

    .banner-title {
        font-size: 35px;
    }

    .banner-card {
        column-gap: 20px;
        padding: 5px 5px 5px 10px;
    }

    .banner-search__btn {
        padding: 10px 20px;
    }

    .banner-tiem:nth-child(2),
    .banner-tiem:nth-child(3),
    .banner-tiem:nth-child(4) {
        padding-left: 10px;
    }

    /* BANNER - END */
}

@media screen and (max-width: 888px) {

    /* BANNER - START */
    .banner-input {
        width: 120px;
    }

    .banner-tiem {
        column-gap: 10px;
    }

    .banner-item__title {
        font-size: 15px;
    }

    .banner-search__btn {
        padding: 7px 10px;
    }

    .banner-tiem:nth-child(2),
    .banner-tiem:nth-child(3),
    .banner-tiem:nth-child(4) {
        padding-left: 5px;
    }

    .banner-card {
        column-gap: 10px;
        padding: 5px 5px 5px 10px;
    }

    /* BANNER - END */

    /* STYLE - START */

    .style-img {
        width: 449px;
        height: 369px;
    }

    /* STYLE - END */

}

@media screen and (max-width: 780px) {
    /* STYLE - START */

    .style-row {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .style-submit__btn {
        bottom: -3em;
        left: 4em;
    }

    /* STYLE - END */
}

@media screen and (max-width: 720px) {

    /* HEADER - SATRT */
    .header-nav {
        display: none;
    }

    .header-mobile__button {
        display: block;
        display: flex;
    }

    /* HEADER - END */

    /* BANNER - START */

    .banner {
        padding-top: 20px;
    }

    .banner-search__btn {
        padding: 7px 12px;
        font-size: 16px;
    }

    .banner-item__title {
        font-size: 15px;
    }

    .banner-card {
        column-gap: 10px;
    }

    .banner-tiem:nth-child(2),
    .banner-tiem:nth-child(3),
    .banner-tiem:nth-child(4) {
        padding-left: 5px;
    }

    .banner-input {
        width: 110px;
    }

    .banner-tiem {
        column-gap: 6px;
    }

    .banner-title {
        font-size: 30px;
    }

    .banner-row {
        row-gap: 10px;
    }

    .banner-card {
        align-items: start;
        flex-direction: column;
        gap: 20px;
        padding: 20px 30px;
        border-radius: 25px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }

    /* BANNER - END */
}

@media screen and (max-width: 625px) {

    /* BANNER - START */

    .banner {
        padding-top: 20px;
    }

    .banner-title {
        font-size: 28px;
        letter-spacing: 1px;
    }

    .container {
        padding: 0 10px;
    }

    /* BANNER - END */

    /* CONATC - START */

    .contact-img {
        width: 393px;
        height: 307px;
    }

    .contact-title {
        font-size: 25px;
    }

    .contact-subtitle {
        font-size: 20px;
    }

    .contact-send {
        row-gap: 10px;
    }

    .contact-input {
        width: 327px;
        height: 40px;
        font-size: 17px;
    }

    .contact-button {
        width: 200px;
        height: 40px;
    }

    /* CONATC - END */

}

@media screen and (max-width: 465px) {
    /* BANNER - START */

    .banner {
        padding-top: 0px;
    }

    .banner-title {
        font-size: 24px;
    }

    .banner-row {
        row-gap: 0;
    }

    /* BANNER - END */

    /* STYLE - START */

    .style-img {
        width: 389px;
        height: 329px;
    }

    /* STYLE -  END */
}










.banner-row {
    .banner-title {
        background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: h1anim 4s linear forwards;
        background-size: 500% auto;
        display: inline-block;
        background-position: 150% center;
        background-repeat: no-repeat;
    }
}

@keyframes h1anim {
    from {
        background-position: 150% center;
    }

    to {
        background-position: 0 center;
    }
}